<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>NSCameraUsageDescription</key>
	<string>Want to access your camera</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5857ec4ab63bb27747170de227ce1939eef5164d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitName</key>
				<string>Crashlytics</string>
				<key>KitInfo</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Want to access near by beacons</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>UIMainStoryboardFile</key>
	<string>NewDesign</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>BD Field Force</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Want to access location to mark your presence</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Want to access location to mark your presence</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Want to access your gallery</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Want to access near by location to track your indoor location</string>
</dict>
</plist>
